<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kangengine.customview">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adw.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.lge.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lge.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adwfreak.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adwfreak.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adw.launcher_donut.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher_donut.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.fede.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.fede.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.READ_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.WRITE_SETTINGS" />
    <uses-permission android:name="com.anddoes.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.anddoes.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.mylauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.mylauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.ebproductions.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.ebproductions.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="telecom.mdesk.permission.READ_SETTINGS" />
    <uses-permission android:name="telecom.mdesk.permission.WRITE_SETTINGS" />
    <uses-permission android:name="dianxin.permission.ACCESS_LAUNCHER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".AppContextAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 刘海屏配置 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FlowLayoutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.ShoppingActvity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.PermissionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.FloatActivity"
            android:parentActivityName=".MainActivity" />

        <service android:name=".service.FloatButtonService" />
        <service android:name=".service.MediaPlayService" />

        <activity
            android:name=".activity.CustomActivity"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".service.ImageSettingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.CircleMenuLayoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.NewMenuLayoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.UiTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.PreferenceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CoordniatorLayoutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.DaFeiJiActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.PicPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ScratchCardActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CanvasActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.PathAcitivty"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.XfermodesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ShaderActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.SurfaceViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BtnOkAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.VideoRecordActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activity.PlayVideoActivity" />
        <activity
            android:name=".activity.CircleCountdownTimeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.TranslateAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activity.TransitionsActivity" />
        <activity
            android:name=".activity.NotificationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BackgroundViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ZhongwenzhuanPinyinActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.JniCompressImgActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BottomBarActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ToastAtivity"
            android:parentActivityName=".MainActivity"
            />
    </application>

</manifest>